{% extends 'base.html.twig' %}

{% block title %}Smartphones{% endblock %}

{% block body %}
  <div class="container py-4">
    <h1 class="text-primary mb-4">Smartphone overzicht</h1>

    <table class="table table-hover table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Vendor</th>
          <th scope="col">Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for smartphone in smartphones %}
          <tr>
            <th scope="row">{{ smartphone.id }}</th>
            <td>{{ smartphone.vendor.name }}</td>
            <td>{{ smartphone.type }}</td>
            <td>
              <a href="{{ path('app_view_smartphone', { 'id': smartphone.id }) }}" class="btn btn-primary btn-sm">View</a>
              <a href="{{ path('app_update_smartphone', { 'id': smartphone.id }) }}" class="btn btn-warning btn-sm text-white">Update</a>
              <a href="{{ path('app_delete_smartphone', { 'id': smartphone.id }) }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4" class="text-center text-muted">Geen smartphones gevonden</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
