{% extends 'base.html.twig' %}

{% block title %}Smartphone details{% endblock %}

{% block body %}
  <div class="container py-4">
    <h1 class="text-primary mb-4">Smartphone details</h1>

    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Vendor</th>
          <th scope="col">Color</th>
          <th scope="col">Memory</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ smartphone.id }}</th>
          <td>{{ smartphone.vendor.name }}</td>
          <td>{{ smartphone.color }}</td>
          <td>{{ smartphone.memory }}</td>
          <td>{{ smartphone.description }}</td>
          <td>{{ smartphone.price }}</td>
        </tr>
      </tbody>
    </table>

    <a href="{{ path('app_smartphone') }}">
      <button class="btn btn-primary">Go back</button>
    </a>
  </div>
{% endblock %}
